AuthName "Authorisation Required"
AuthUserFile "/home/ubuntu/webroot/netshade/public/.htpwd"
AuthType Basic
require valid-user
ErrorDocument 401 "Authorisation Required"

php_value short_open_tag 1

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]
